# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
/vendor/
/bin/

# React Native
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Docker
.dockerignore

# Environment & Config
.env
.env.local
.env.staging
.env.production
*.log
docs/